@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.users{
    margin-top: 4rem;
   margin-bottom: 4rem;
   /* max-width: 80%;
   margin: auto; */
}

.userWrapper{
    padding-top: 5rem;
}
.userGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));;
    
}

.userContainer{
    display: block;
    height: max-content;
    margin: 5px;
    /* background-color: #154b63 !important; */
}
/* .userImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */
.userImage {
    height: min-content;
}
.userImageBox {
    width: 100%;
    height: 100%;
}

.userHeader{
    font-size: 0.7rem;
    text-align: left !important;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    bottom: 37px;
    height: 0;
}
.userHeaderText{
    margin-left: 2px;
    margin-right: 5px;
}
.userHeadline{
    background-color: rgba(6, 6, 6, 0.5);
    line-height: 1.5;
    padding-left: 4px;
    border-radius: 3px;
    overflow: hidden;
    max-height: 18px;
  
}
.userDetail {
    height: max-content;
    background-color: #154b63 !important;
}
.colDetail {
    padding-top: 10px;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}
.colLocation{
    padding-bottom: 5px;
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
}
.loggedIn{
    color: chartreuse;
}
.loggedOut, .date{
    color: crimson;
}

@media screen and (max-width: 767px){
  
}

@media screen and (max-width: 576px){
    .users{
        margin-top: 0.5rem;
    }

}