.App {
  text-align: center;
  color: aliceblue;
}
.appContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
ul{
  list-style-type: none;
}

/* this will be shifted to Dashboard  */
.footer {
  display: none;
}

@media screen and (max-width: 767px){
  
}

@media screen and (max-width: 576px){

  .footer {
    display: flex;
    justify-content: center;
    padding: auto;
    position: absolute;
    bottom: 0;
  }
}